.flex-row {
  display: flex;
  flex-direction: row;
}

.button-icon-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.tag-container {
  display: block;
  overflow-x: scroll;
}

.small-chip {
  min-height: 24px;
  padding: 6px 12px;
  font-size: smaller;
}

.read-chapter{
  color: lightgray;
}


.resume-button-container{
  position: fixed;
  bottom: 2em;
  right: 2em;
}
