<h3 class="mat-subheading-2">IN APP</h3>
<ng-container *ngFor="let ext of inAppExtensions">
  <app-extension-card [extension]="ext">
    <button mat-button color="primary" (click)="goSettings(ext)">Settings</button>
  </app-extension-card>
</ng-container>
<hr/>
<h3 class="mat-subheading-2">FROM CODE</h3>
<ng-container *ngFor="let ext of fromCodeExtensions">
  <app-extension-card [extension]="ext">
    <button mat-button color="primary" (click)="goSettings(ext)">Settings</button>
  </app-extension-card>
</ng-container>
<div style="text-align: center">
  <button mat-button mat-stroked-button (click)="goAddCodePage()">
    <mat-icon>add</mat-icon>
    Add code
  </button>
</div>
<hr/>
<h3 class="mat-subheading-2">INSTALLED</h3>
<ng-container *ngFor="let group of installedExtensionsGroupedByLang">
  <span class="mat-subheading-1">{{group[0].lang | langName}}</span>
  <ng-container *ngFor="let ext of group">
    <app-extension-card [extension]="ext">
      <button mat-button color="primary" (click)="goSettings(ext)">Settings</button>
    </app-extension-card>
  </ng-container>
</ng-container>
<hr/>
<h3 class="mat-subheading-2">ALL</h3>
<ng-container *ngIf="onlineExtensionsGroupedByLang$ | async as onlineExtensionsGroupedByLang">
  <ng-container *ngFor="let group of onlineExtensionsGroupedByLang">
    <span class="mat-subheading-1">{{group[0].lang | langName}}</span>
    <ng-container *ngFor="let ext of group">
      <app-inline-card
        [badge]="ext.isUpdate? 'update': ''"
        [iconUrl]="ext.thumbnail"
        [title]="ext.name"
        [subTitle]="(ext.lang | langName) + ' - ' + ext.version"
      >
        <button mat-button color="primary" (click)="install(ext)">Install</button>
      </app-inline-card>
    </ng-container>
  </ng-container>
</ng-container>
