<app-header>
  <span>Browser</span>
    <div right>
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</app-header>
<div class="content">
  <mat-tab-group [(selectedIndex)]="activeTab" *ngIf="loaded">
    <mat-tab label="Sources">
      <app-sources></app-sources>
    </mat-tab>
    <mat-tab label="Extensions">
      <app-extensions></app-extensions>
    </mat-tab>
    <mat-tab label="Migrate">
      <app-migrate></app-migrate>
    </mat-tab>
  </mat-tab-group>
</div>
<app-main-footer activePage="browser"></app-main-footer>
